[gerrit]
	basePath = git
	canonicalWebUrl = http://scslt095.cs.uwaterloo.ca:8080/
[database]
	type = h2
	database = /home/y2joshi/workspace/parsertools/db/ReviewDB
[index]
	type = LUCENE
[auth]
	type = OPENID
[receive]
	enableSignedPush = false
[sendemail]
	smtpServer = localhost
[container]
	user = y2joshi
	javaHome = /usr/lib/jvm/java-8-oracle/jre
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:8080/
[cache]
	directory = cache
